@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

body {
    background-color: rgba(206, 240, 240, 0.726);
}

.navbar,
.navbar-brand {
    font-family: 'Alex Brush', cursive;
    font-weight: 700;
    font-size: 25px;
}

.navbar-brand {
    font-size: 40px;
}

.img_profile {
    width: 300px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
