@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

body {
  background-color: rgba(206, 240, 240, 0.726);
}

.navbar,
.navbar-brand {
  font-family: "Alex Brush", cursive;
  font-weight: 700;
  font-size: 25px;
}

.navbar-brand {
  font-size: 40px;
}

.img_profile {
  width: 300px !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* card list  */
.card-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/*
 가로 세로 비율을 유지 하기 위해서 
 height를 주지 않고 padding-bottom 을 줍니다.
 */
.card-image {
  height: 0;
  padding-bottom: 60%;
  background: rgba(138, 140, 141, 0.849);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image img {
  display: none;
}

.card-desc {
  flex: 1 1 auto;
  padding: 1em;
  background: #fff;
}

p.text-left {
  height: 80px;
}

@media (min-width: 600px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  .card-item {
    width: 45%;
    padding: 0 1rem;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .card-item {
    width: 32%;
    margin: auto;
  }
}
